<div class="chat-container">
    <!-- Back button container -->
    <div *ngIf="selectedMessage" class="back-button-container">
        <button (click)="deselectMessage()">← Back</button>
    </div>
  
    <!-- Load more messages container -->
    <div *ngIf="hasMoreMessages" class="load-more-container">
        <button (click)="loadChatMessages(true)">Load More Messages</button>
    </div>
    
    <!-- Messages list -->
    <ul class="messages-list" *ngIf="!selectedMessage && !replyingTo">
        <li *ngFor="let message of messages | reverse">
            <div>
                <div (click)="selectMessage(message)">
                    <!-- Message content -->
                    <strong>{{ message.senderId === currentUserId ? 'Me' : (message.IsAnonymous ? 'Anonymous' : message.Sender?.UserName) }}:</strong>
                    {{ message.ChatMessageText }}
                    <div class="message-timestamp">{{ message.ChatMessageDate | relativeTime }}</div>
                    
                    <!-- Reply count -->
                    <div *ngIf="message.ReplyCount > 0">
                        <span (click)="selectMessage(message); $event.stopPropagation()">{{ message.ReplyCount }} replies</span>
                    </div>
                </div>
            </div>
        </li>
    </ul> 

    <!-- Selected message and replies -->
    <ul class="messages-list" *ngIf="selectedMessage">
        <li>
            <div>
                <!-- Selected Message content -->
                <div *ngIf="selectedMessage?.Sender">
                    <strong>{{ selectedMessage.IsAnonymous ? 'Anonymous' : selectedMessage.Sender.UserName }}:</strong>
                    {{ selectedMessage.ChatMessageText }}
                    <div class="message-timestamp">{{ selectedMessage.ChatMessageDate | relativeTime }}</div>
                </div>
                
                <!-- Replies -->
                <ul>
                    <li *ngFor="let reply of selectedMessage.Replies">
                        <!-- Display each reply's text -->
                        <div *ngIf="reply.Sender">
                            <strong>{{ reply.IsAnonymous ? 'Anonymous' : reply.Sender.UserName }}:</strong>
                            <p>{{ reply.ChatMessageText }}</p>
                            <div class="message-timestamp">{{ reply.ChatMessageDate | relativeTime }}</div>
                        </div>
                    </li>
                </ul>
                
                <!-- Load more replies button -->
                <div *ngIf="selectedMessage && selectedMessage.Replies && selectedMessage.Replies.length > 10">
                    <button (click)="loadReplies(selectedMessage.ChatMessageID, true)">Load More Replies</button>
                </div>
                
                <!-- Reply input -->
                <div class="reply-input" *ngIf="selectedMessage">
                    <input type="text" [(ngModel)]="replyText" [attr.id]="'replyInput' + selectedMessage.ChatMessageID" placeholder="Type a reply..." />
                    <label>
                        <input type="checkbox" [(ngModel)]="isAnonymous" /> Post Anonymously
                    </label>
                </div>
                <button *ngIf="selectedMessage && replyText.trim() !== ''" (click)="sendMessage(selectedMessage.ChatMessageID)">Send Reply</button>
                <button *ngIf="selectedMessage" (click)="cancelReply()">Cancel</button>                
            </div>
        </li>
    </ul>    
    
    <!-- Message input -->
    <div class="message-input" *ngIf="!replyingTo && !selectedMessage">
        <input type="text" [(ngModel)]="newMessageText" placeholder="Type a message..." />
        <label>
            <input type="checkbox" [(ngModel)]="isAnonymous" /> Post Anonymously
        </label>
        <button (click)="sendMessage()">Send</button>
    </div>
</div>
